@import url('http://fonts.cdnfonts.com/css/gilam');

body{
    background: #171717;
    color: #FFFFFF;
    font-family: 'Gilam', sans-serif;                                                
}

.container{
    width: 91.25rem; /* 1460px */
    margin: 0 auto;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 2.31rem; /* 37px */
}

.logo{
    width: 13.5rem; /* 216px */
}

.btn{
    width: 13.62rem; /* 218px */
    border: 1px solid #E4B564;   
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #E4B564;
}

.phone{
    padding-right: 0.62rem; 10px
}

.call,
.details-text{
    color: #E4B564;
}

.first-section{
    margin-bottom: 10.062rem; /* 161px */
}

.titel{
    width: 73.875rem; /* 1182px */
    margin-top: 8rem; /* 128px */
}

.section-titel{
    font-size: 3.125rem; /* 50px */
    line-height: 1.75rem; /* 28px */
    font-weight: 700;
}

.first-section__titel{
    padding-bottom: 2.562rem; /* 41px */
}

.first-section__text{
    font-weight: 700;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    padding-bottom: 2.562rem; /* 41px */
}

.first-section__cards{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, minmax(8.375rem, 1fr));
    grid-auto-rows: repeat(2, 1fr);
    gap: 1.875rem; /* 30px */ 
    height: 60.375rem; /* 966px */ 
    grid-template-areas:
    "card-1 card-1 card-2 card-2 card-3 card-3"
    "card-4 card-4  card-4  card-5 card-5 card-5"
}

.first-section__card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF
}

.card-1{
    grid-area: card-1;
    background-color: #634F2C;

}
.card-2{
    grid-area: card-2;
    text-align: center;
    background-color: #B4A385;

}
.card-3{
    grid-area: card-3;
    background-color: #E4B564;
}
.card-4{
    grid-area: card-4;
    background-color: #635A4A;
}
.card-5{
    grid-area: card-5;
    background-color: #B08C4D;
}

.first-section__card-text{
    max-width: 24.375rem; /* 390px */
}

.second-section__cards{
    display: grid;
    grid-template-rows: repeat(10, minmax(5.456rem, 1fr)); 
    grid-template-columns: repeat(3, minmax(29.187rem, 1fr)); /* 467px */
    gap: 1.875rem; /* 30px */ 
    padding-top: 5.875rem; /* 94px */ 
    padding-bottom: 11.937rem ; /* 191px */ 
    
}

.second-section__card{
    padding: 2.75rem 0 0 3.125rem; /*44px 0 0 50px*/ 
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF
}

.second-section__card span{
    font-weight: 700;
}

.card-6{
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    background-color: #0E0E0E;
}

.card-7{
    grid-row: 1/6;
    grid-column: 2/3;
    background-color: #242424;
}

.card-8{
    grid-row: 1/4;
    grid-column: 3/4;
    background-color: #1F1F1F;
}

.card-9{
    grid-row: 5 / 11;
    grid-column: 1 / 2;
    background-color: #1F1F1F;  
}

.card-10{
    grid-row: 4/8;
    grid-column: 3/4;
    background-color: #0E0E0E;
}

.card-11{
    grid-row: 6/11;
    grid-column: 2/3;
    margin-bottom: 10px;
    background-color: #E4B564;
    color: #000000;
}

.card-12{
    grid-row: 8/11;
    grid-column: 3/4;
    background-color: #0A0909;
    font-weight: 700;
}

.second-section__card-text{
    max-width: 18.875rem; /* 302px */
}

.third-section-wrap{
    background-color: #0E0E0E;
}

.titel-wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 10.75rem;/* 172px */
}

.btn-details {
    width: 11.25rem ;/* 180px */
}

.third-section__cards{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, minmax(30.437rem, 1fr)); /* 487px */
    padding-top: 4.5rem;/* 72px */
    margin-bottom: 14.875rem; /* 238px */
    height: 48.875rem; /* 782px */
}

.third-section__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    cursor: pointer;  
}

.card-13{
    background-color: #634F2C;
}

.card-14{
    background-color: rgba(232, 210, 171, 0.76);;
}

.card-14__logo{
    display: block;
    text-align: center;    
}

.card-15{
    background-color: #E4B564;    
}

.card-16{
    background-color: #635A4A;
}

.card-17{
    background-color: #B08C4D;
}

.card-18{
    background-color: #634F2C;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20.375rem; /* 326px */
}

.address-text{
    font-weight: 400;
    font-size: 1.375rem; /* 22px */
    line-height: 1.75rem; /* 28px */
    text-align: center;
    transition: opacity 2s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;  
}

.address-text span{
    font-weight: 600;
}

.third-section__card:hover .address-text{    
    opacity: 1;
    height: auto;
} 